/* ***** Header Styles ****** */

.header__logo {
  font-size: 1.8rem;
}

.section-header {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.fixed-header {
  background-color: var(--clr-dark-gray-2);
  box-shadow: var(--light-shadow);
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  padding: 1em 0;
}

.nav-toggle {
  padding: 0.7em 0.3em;
  border: transparent;
  background-color: transparent;
}

.nav-toggle__line {
  position: relative;
  display: block;
}

.nav-toggle__line,
.nav-toggle__line::before,
.nav-toggle__line::after {
  width: 2em;
  height: 2px;
  border-radius: 7px;
  background-color: var(--clr-light-green);
  transition: transform 350ms ease-in-out, opacity 150ms linear;
}

.nav-toggle__line::before,
.nav-toggle__line::after {
  content: '';
  position: absolute;
  left: 0%;
}

.nav-toggle__line::before {
  bottom: 8px;
}

.nav-toggle__line::after {
  top: 8px;
}

.nav-toggle__line--open {
  transform: rotate(45deg);
}

.nav-toggle__line--open::before {
  opacity: 0;
}

.nav-toggle__line--open::after {
  transform: rotate(90deg) translateX(-8px);
}

.navbar-container {
  position: absolute;
  top: 80px;
  left: 0%;
  width: 100%;
  overflow: hidden;
  transition: all 0.3s ease;
}

.navbar {
  padding: 0.5em 1em;
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--light-shadow);
}

.navbar__link {
  padding: 0.7em 1em;
  font-size: 0.9rem;
}

.resume {
  display: none;
  border: 2px solid var(--clr-light-green);
  border-radius: 5px;
}

.resume__link {
  display: inline-block;
  padding: 0.7em 1.8em;
  color: var(--clr-light-green);
  transition: all 0.3s linear;
}

.resume__link:hover {
  color: var(--clr-dark-gray);
  background-color: var(--clr-light-green);
}

@media (min-width: 768px) {
  .resume {
    display: block;
  }

  .navbar__resume {
    display: none;
  }
}

@media (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
  }

  .navbar-container {
    position: relative;
    top: 0;
    height: auto !important;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: auto;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }

  .navbar__link {
    padding: 0;
    font-size: 1.1rem;
  }

  .navbar__link a {
    color: var(--clr-light-green);
  }

  .nav-toggle {
    display: none;
  }
}
