/* ****** HERO ****** */

.section-hero {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.hero span {
  color: var(--clr-light-gray-2);
  font-family: var(--ff-secondary);
  font-size: 1.05rem;
}

.hero__name {
  letter-spacing: 0.05em;
}

.hero__desc {
  margin: 1em 0;
  font-size: 1.05rem;
}

.socials {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
}

.socials__link {
  color: var(--clr-light-gray-2);
  font-size: 2rem;
  transition: all 0.3s linear;
}

.socials__link:hover {
  color: var(--clr-light-green);
}
